 /*** REM VS EM

-REM == ROOT EM: is always equal to the HTML font-size.
-EM is equal to the font-size of the parent.

*/

/* GENERAL SETTINGS */

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

header{
    background-color: moccasin;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
}

/* CONTENT */
/*#content{
    padding: 0 4 0px;
}*/

/* HEADER */
header h1 a{
    text-decoration: none;
    font-weight: bold;
    font-size: 4rem;
}

/* Title */
header h1{
    font-size: 40px;
    text-align: center;
}

/* Login */
header .login{
    font-size: 15px;
    top: 0px;
}

header .login ul li{
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 15px;  
}

header .login ul li:last-child{
    border-right: 1px solid moccasin;
}

/* Menu bar */
ul{
    background-color: moccasin;
    list-style-position: none;
    padding: 10px;
}

header .menu ul li{
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 100px;
}

header .menu ul li:last-child{
    border-right: 1px solid moccasin;
}

header .menu ul li a{
    color: black;
    text-decoration: none;
}

/* RESTAURANT REVIEW */

#restaurant_reviews {
    padding: 0.1rem 1rem;
    margin: 1rem 0;
}

.restaurant_review {
    margin: 0 0 3rem 0;
}

.restaurant_review h3 {
    font-weight: bold;
    margin: 0 0 1rem;
}

span.stars, span.stars span {
    display: block;
    background: url(/resources/img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}



/* VISUALIZE USER INFO */

.users_info label{
    display: block;
}
