
body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header{
    background-color: moccasin;
    padding: 50px;
}

header a{
    text-decoration: none;
    font-weight: bold;
}

/* Title */
header h1{
    font-size: 40px;
    text-align: center;
}

/* Login */
header .login{
    font-size: 15px;
    top: 0px;
}

header .login ul li{
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 15px;  
}

header .login ul li:last-child{
    border-right: 1px solid moccasin;
}

/* Menu bar */

header .menu ul li{
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 100px;
}

header .menu ul li:last-child{
    border-right: 1px solid moccasin;
}

header .menu ul li a{
    color: black;
    text-decoration: none;
}




/**
 * HEADER
 */
/*
#header{
    background-color: grey;
    color: white;
    
    font-weight: bold;
    padding: 30px;
}

h1{
    font-size: 30px;
}*/

/*paragraph*/
/*
h2:before{content: '\A';}
    
h2{
    white-space: pre;
    font-size: 25px;
}
*/


/**
 * HTML
 */
/*
html{
    margin-left: 24%;
    margin-right: 24%;
    background-color: rgb(221, 221, 255);
    font-family: Arial, Helvetica, sans-serif;
}*/

/**
* BODY
*/
/*
body{
    background-color: white;
}*/


/**
*   MENU
*/
/*
#menu ul li{
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 10px;
    margin: 10px 0;
}

#menu ul li:first-child{
    border-left: 0px;
}

#menu a{
    text-decoration: none;
    color: white;

}

#menu {
    background-color: darkred;
    text-align: left;
}*/


/**
* CONTENT 
*/
/*#content{
    padding: 0 4 0px;
}

h3{
    font-weight: bold;
    font-size: 25px;
    padding: 6 4 6px;
}

img{
    float: left;
    padding: 10px;
}

#content .introduction{
    font-style: italic; 
}

#content  a{
    text-decoration: none;
}

p{
    padding: 1rem;  
}

#content ul li{
    display: inline-block;
    padding: 0 15px;
}

#content ul li a{
    background-color: darkslategrey;
    color: white;
}

#content .news-item{
    padding: 10px;
    border-bottom: 1px solid black;
}*/